[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Nvidia Startup
Comment=Load nvidia config
Exec=nvidia-settings -l
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

